* {
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
  /* background-color: #faf6e3; */
  background-color: #faf6e39b;
}
.ion-icon {
  color: yellow;
}

.active {
  color: #ff0007;
}
.inactive {
  color: #39575c;
}

.swiper-pagination-bullet {
  background-color: gray !important; /* inactive dot color */
}

.swiper-pagination-bullet-active {
  background-color: #ff0000 !important; /* active dot color - replace with your red color */
}
.challenges-bullet-active {
  background-color: black !important;
}

/* .swiper-pagination-bullet {
  margin-bottom: -20px !important;
} */

/* ion-icon {
  color: #ff0007;
} */
